/*#top  {
  display: inline-block;
}*/

/*#time {
  display: inline-block;
  float: left;


}*/

#weather {
  position: absolute;
  top: 0;
  right: 0;
}
#mapContainer {
  position: absolute;
  bottom: 0;
  left: 0;
}
#news {
  position: absolute;
  height: 55%;
  bottom: 0;
  right: 0;
  left: 35%;
  border: 2px solid black;
}
